body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #212529;
  color: white;
}

nav img{
    width: 7%;
}

.nav-link{
    color: white;
}

nav{
    background: #72e3ff;
}

footer{
    background-color: aqua;
    display: inline-block;
}